<div class="card">
    <div class="card-header">
        <h1>Insert Dance Couple</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="addCouplesForm" (ngSubmit)="onSubmitCouplesForm(addCouplesForm.value)" autocomplete="off" novalidate id="couples-table">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="gentleman-name">Gentleman Name</label>
                    <input type="text" formControlName="gentlemanName" class="form-control form-control-sm" id="gentleman-name">
                </div>
                    <div class="form-group col-md-6">
                    <label for="lady-name">Lady Name</label>
                    <input type="text" formControlName="ladyName" class="form-control form-control-sm" id="lady-name">
                </div>
                <div class="form-group col-md-6">
                    <label for="gentleman-surname">Gentleman Surname</label>
                    <input type="text" formControlName="gentelmanSurname" class="form-control form-control-sm" id="gentleman-surname">
                </div>                               
                <div class="form-group col-md-6">
                    <label for="lady-surname">Lady Surname</label>
                    <input type="text" formControlName="ladySurname" class="form-control form-control-sm" id="lady-surname">
                </div>
                <div class="form-group col-md-3">
                    <label for="dance-studio">Dance Studio</label>
                    <input type="text" formControlName="danceStudio" class="form-control form-control-sm" id="dance-studio">
                </div>                                    
                <div class="form-group col-md-3">
                    <label for="dance-style">Dance Style</label>
                    <select formControlName="danceStyle" class="form-control form-control-sm" id="dance-style">
                        <option *ngFor="let style of danceStyleLaSt" [value]="style.last_dance_style_id">{{style.last_ds_name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="dance-category">Dance Category</label>
                    <select formControlName="danceCategory" class="form-control form-control-sm" id="dance-category">
                        <option *ngFor="let category of danceCategoryLaSt" [value]="category.last_dance_cat_id">{{category.last_dc_name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="dance-ageGroup">Age Group</label>
                    <select formControlName="ageGroup" class="form-control form-control-sm" id="dance-ageGroup">
                        <option *ngFor="let group of ageGroup" [value]="group.last_age_group_id">{{group.last_age_name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="couple-id">Couple ID</label>
                    <input type="text" formControlName="coupleId" class="form-control form-control-sm" id="couple-id">
                </div>
            </div>
            <div class="button">
                <button type="button" class="btn btn-primary preview" (click)="getCouples(addCouplesForm.value); showTable=true">Preview</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <ng-container *ngIf="showTable">
                <div class="table-responsive custom-table mb-5">
                    <table class="table">
                        <thead class="custom-header">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">CoupleID</th>
                                <th scope="col">Gentleman</th>
                                <th scope="col">Lady</th>                         
                                <th scope="col">Dance Studio</th>
                                <th scope="col">Style</th>
                                <th scope="col">Category</th>
                                <th scope="col">Age Group</th>                          
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let couple of couples | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}; let i = index ">
                                <td>{{i+1}}</td>
                                <td>{{couple.couple_id}}</td>
                                <td>{{couple.gentleman}} {{couple.gentleman_surname}}</td>
                                <td>{{couple.lady}} {{couple.lady_surname}}</td>
                                <td>{{couple.dance_club}}</td>
                                <td>{{couple.last_ds_name}}</td>
                                <td>{{couple.last_dc_name}}</td>
                                <td>{{couple.last_age_name}}</td>
                            </tr>                      
                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="page = $event" id="1"
                    maxSize="5"
                    directionLinks="true"
                    autoHide="true"
                    previousLabel="Previous"
                    nextLabel="Next"
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </ng-container>                             
        </form>
    </div>                        
</div>
