<div class="wrapper">
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="./../../assets/img/WDSF@2x.png" width="150px" height="100%" class="d-inline-block align-top" alt="">
          </a>
    </nav>
    <main>
        <div class="main-wrap">
            <div class="card">
                <img class="card-img-top" src="./../../assets/img/admin-intro.jpg" alt="Dance image">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-wrap">
                                <div class="box">
                                    <a href="admin/last" class="last">Latin<br>Standard</a>
                                </div>
                                <!-- <div class="box">
                                    <a class="social">Social</a>
                                </div> -->
                                <div class="box">
                                    <a href="admin/urban" class="urban">Urban</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </main>
</div>

